<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <script type="text/javascript" src="{{ url_for('static', filename='query.js') }}"></script>
    </head>
    <body>
        <h1>Sample Application</h1>
        <p>A sample application that triggers code from Flask, inside a webview window</p>
        <button onclick='do_query("data");'>Get Data</button>
        <br/>
        <div id="contents">
            Some Contents for data...   
        </div>
    </body>
</html>